{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}?ver={{ css_version }}">
{% endblock head %}

{% block main %}
    <main>
        <div class="container">
            <div class="subcategories d-flex flex-wrap justify-content-center">
                <a class="btn btn-outline-secondary" href="{% url "website:introductions" %}">Introductions</a>
                <a class="btn btn-outline-secondary" href="{% url "website:to_publish" %}">To Publish</a>
                <a class="btn btn-outline-secondary" href="{% url "website:our_team" %}">Our Team</a>
            </div>
            {% block blurb %}{% endblock blurb %}
        </div>
    </main>
{% endblock main %}