{% extends "layout.html" %}
{% load static %}
{% load extras %}

{% block og_image %}
    {% if article.image %}
    <meta property="og:image" content="https://crgreview.com{{ article.image.url }}">
    {% endif %}
{% endblock og_image %}

{% if article.preview %}
{% block og_description %}
    <meta property="og:description" content="{{ article.preview }}">
{% endblock og_description %}
{% endif %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/article_detail.css" %}">
{% endblock head %}

{% block title %}{{ article.title }}{% endblock title %}

{% block main %}
    <main>
        <div class="container">
            <a onclick="window.history.back()" id="back">&lsaquo;&lsaquo; back</a>
            <h2 id="title">{{ article.title }}</h2>
            {% if article.image %}
                <div id="banner" style="background-image:url({{ article.image.url }})"></div>
            {% endif %}
            <div id="article_info">
                <p><small>
                    By {{ article.author.name }}<br>
                    Published {{ article.date|date:'Y-m-d' }}<br>
                </small></p>
            </div>
            <div id="content">
                {{ article.content|markdown_to_html|linebreaks }}
            </div>
            {% if article.endnotes %}<div id="endnotes">{{ article.endnotes|linebreaks }}</div>{% endif %}
        </div>
    </main>
{% endblock main %}

