{% extends "layout.html" %}
{% load static %}
{% load extras %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/home.css" %}?ver={{ css_version }}">

{% endblock head %}

{% block main %}
    <main>
        <div id="wrapper" class="container-fluid d-xl-flex flex-xl-row">
            <div id="article-grid" class="container-fluid mb-4">
                {% for article in articles %}
                    <a href="{% url "website:article_detail" article.pk %}"
                       class='grid-item'
                       {% if article.image %}
                       style="background-image: url('{{ article.image.url }}');"
                       {% endif %}>
                        <div class="item-heading">
                            <p class='item-subcategory'>{{ article.subcategory.category }}</p>
                        </div>
                        <p class='item-title'>{{ article.title }}</p>
                        {% if article.preview %}<p class='item-preview'><em>{{ article.preview|truncatechars:100 }}</em></p>{% endif %}
                        <div class="item-footer">
                            <p class='item-author'>{{ article.author.name }}<p>
                            <p class='item-date'>{{ article.date|date:'Y-m-d' }}</p>
                        </div>
                    </a>
                {% endfor %}
                <div id="call_to_action" class='grid-item'>
                    <p>Submit your article by February 26, 2019!</p>
                </div>
            </div>
            <div id="sidebar" class="container-fluid">
                <h3><em>Weekly Briefing:</em></h3>
                <div id="info-cards">
                    {% for update in status_updates %}
                        <div class="info-card">
                            <div class="info-card-body">
                                <p>{{ update.content|markdown_to_html|linebreaks }}</p>
                                <p><em> - {{ update.date }}</em></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock main %}

