{% extends 'website/about.html' %}

{% block title %}Introductions{% endblock title %}

{% block blurb %}
    <h1>Introductions: Why are we here?</h1>
    <p>
        Genocide is a recent term.  In 1944, when news on what would become known as ‘the holocaust’ was reaching
        general audiences, it was, like today, inconceivable.  In response, Jewish scholar Raphael Lemkin created the
        term –his notebooks are filled with failed attempts– from the Greek “genoc” to mean tribe and Latin “cide” to
        mean murder.  But no Nazis were ever tried for genocide, and Hitler never even heard the term.  Its meaning is
        deeper, its allegations older, and its permutations newer.  Its questions today remain unanswered.
    </p>
    <p>
        Canada is no stranger to genocide, although Canadians sometimes can be.  We are a nation founded on genocide,
        in an era when genocide has fallen out of vogue.  We continue to exist on stolen land from murdered indigenous
        peoples, and we continue the theft along with the murder.  Canada went on to suppress other minorities (any list
        would oversimplify) much of which continues today.  It makes us uniquely able to study the topic, to review our
        history, to understand today, and to prepare for tomorrow.  As Heschel said “We are not all guilty, but we are
        all responsible.”
    </p>
    <p>
        In this contemporary review, we hope to better comprehend the past and the present from our current standpoint.
        The topics are broad and can only be understood with serious analysis of its different embodiments.  It’s
        possible that, given the constantly changing abuses, a study of genocides and political violence will never be
        complete.  As such, we hope to make a small contribution to a global exchange.
    </p>
{% endblock blurb %}