{% extends "layout.html" %}
{% load static %}
{% load extras %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/list_articles.css" %}">
{% endblock head %}

{% block main %}
    <main>
        {% if category %}
            <div class="subcategories d-flex flex-wrap justify-content-center">
                {% for subcategory in category.subcategories.all %}
                    <a id="subcategory" class="btn btn-outline-secondary mx-2" href="{% url "website:list_sub_articles" subcategory.pk %}">
                        {{ subcategory.name|category_parse }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}


        <div id="content" class="d-xl-flex justify-content-center">

            <div id="articles">

                <p id="context"><u>
                    {% if fields %}
                        Results containing: <b>"{{ fields }}"</b>:
                    {% elif subcategory %}
                        Articles from <b>{{ subcategory }}</b>
                    {% elif category %}
                        Articles from <b>{{ category }}</b>
                    {% endif %}
                </u></p>

                {% for article in articles %}
                    {% if article != feature_article %}
                        <a href="{% url "website:article_detail" article.pk %}">
                            <div class="article d-flex flex-column-reverse flex-md-row justify-content-between">
                                <div class="text_info">
                                    <p class="article_title">{{ article.title }}</p>
                                    {% if article.preview %}<p class="article_preview"><em>{{ article.preview }}</em></p>{% endif %}
                                    <p class="article_author">{{ article.author.name }}</p>
                                    <p class="article_date">{{ article.date }}</p>
                                </div>
                                {% if article.image %}<div class="image" style="background-image:url({{ article.image.url }})"></div>{% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if feature_article %}
                <a id="feature_link" href="{% url "website:article_detail" feature_article.pk%}">
                    <div id="feature">
                        <p id="featured_in"><small>Featured in {{ category }}:</small></p>
                        {% if feature_article.image %}
                            <div class="image mx-auto" style="background-image:url({{ feature_article.image.url }})"></div>
                        {% endif %}
                        <p class="article_title">{{ feature_article.title }}</p>
                        {% if feature_article.preview %}
                            <p class="article_preview"><em>{{ feature_article.preview }}</em></p>
                        {% endif %}
                        <p class="article_author">{{ feature_article.author.name }}</p>
                        <p class="article_date">{{ feature_article.date }}</p>
                    </div>
                </a>
            {% endif %}

        </div>


        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if articles.has_previous %}
                    <span class="page_buttons">
                        <a href="?page=1">&laquo; </a>
                        <a href="?page={{ articles.previous_page_number }}">&lsaquo;</a>
                    </span>
                {% endif %}

                <span class="current">
                    Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                </span>

                {% if articles.has_next %}
                    <span class="page_buttons">
                        <a href="?page={{ articles.next_page_number }}">&rsaquo;</a>
                        <a href="?page={{ articles.paginator.num_pages }}"> &raquo;</a>
                    </span>
                {% endif %}
            </span>
        </div>
    </main>
{% endblock main %}

{% block scripts %}
    <script src="{% static "js/list_articles.js" %}"></script>
{% endblock scripts %}