<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "website:home" %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% for category in categories %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "website:list_articles" category.name %}" >
                        {{ category.name }}
                    </a>
                    <div class="dropdown-menu">
                        {% for subcategory in category.subcategories.all %}
                            <a class="dropdown-item" href="{% url "website:list_sub_articles" subcategory.name %}">
                                {{ subcategory.name }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>