{% extends 'website/about.html' %}

{% block title %}Our Team{% endblock title %}

{% block blurb %}
    <h1>Our Team</h1>
    <p>
        <span class="name">Gideon Salutin</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:gideon.salutin@gmail.com">gideon.salutin@gmail.com</a><br>
        <em>Editor-in-Chief</em>
    </p>
    <p>
        <span class="name">Brandon Heiblum</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:genocidesjournal@gmail.com">genocidesjournal@gmail.com</a><br>
        <em>Public Relations Coordinator</em>
    </p>

    <h3 class="designation"><u>Current Events</u></h3>
    <p>
        <span class="name">Gavin Jolly</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:gavin.jolly@mail.mcgill.ca">gavin.jolly@mail.mcgill.ca</a><br>
        <em>Primary Editor of Current Events</em>
    </p>
    <p>
        <span class="name">Alexandra Beaudry</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:alexa.beaudry@gmail.com">alexa.beaudry@gmail.com</a><br>
        <em>Current Events Staff Writer</em>
    </p>
    <p>
        <span class="name">Shira Garbis</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:shira.garbis@mail.mcgill.ca">shira.garbis@mail.mcgill.ca</a><br>
        <em>Current Events Staff Writer</em>
    </p>
    <p>
        <span class="name">Louise Vuilimin</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:louise.vuillemin@mail.mcgill.ca">louise.vuillemin@mail.mcgill.ca</a><br>
        <em>Current Events Staff Writer</em>
    </p>

    <h3 class="designation"><u>History</u></h3>
    <p>
        <span class="name">Salma Addas</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:salma.addas@mail.mcgill.com">salma.addas@mail.mcgill.com</a><br>
        <em>Primary Editor of History</em>
    </p>
    <p>
        <span class="name">Brandon Heiblum</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:brandon.heiblum@mail.mcgill.ca">brandon.heiblum@mail.mcgill.ca</a><br>
        <em>Secondary Editor of History</em>
    </p>
    <p>
        <span class="name">Maggie Munro</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:maggie.munro@mail.mcgill.ca">maggie.munro@mail.mcgill.ca</a><br>
        <em>Secondary Editor of History</em>
    </p>
    <p>
        <span class="name">Andrea Corkel</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:andrea.corkal@mail.mcgill.ca">andrea.corkal@mail.mcgill.ca</a><br>
        <em>History Staff Writer</em>
    </p>
    <p>
        <span class="name">Reilly Dunne</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:reilly.dunne9@gmail.com">reilly.dunne9@gmail.com</a><br>
        <em>History Staff Writer</em>
    </p>
    <p>
        <span class="name">Sanskruti Patel</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:sanskruti.patel@mail.mcgill.ca">sanskruti.patel@mail.mcgill.ca</a><br>
        <em>History Staff Writer</em>
    </p>
    <p>
        <span class="name">Romane Savard-Guzman</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:romane.savard-guzman@mail.mcgill.ca">romane.savard-guzman@mail.mcgill.ca</a><br>
        <em>History Staff Writer</em>
    </p>

    <h3 class="designation"><u>Law & Theory</u></h3>
    <p>
        <span class="name">Amelia Williams</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:amelia.williams@mail.mcgill.ca">amelia.williams@mail.mcgill.ca</a><br>
        <em>Primary Editor of Law and Theory</em>
    </p>
    <p>
        <span class="name">Kemal Kongar</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:kemal.kongar@mail.mcgill.ca">kemal.kongar@mail.mcgill.ca</a><br>
        <em>Secondary Editor of Law and Theory</em>
    </p>
    <p>
        <span class="name">Ismail Ameen</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:ismail.ameen@mail.mcgill.ca">ismail.ameen@mail.mcgill.ca</a><br>
        <em>Law and Theory Staff Writer</em>
    </p>
    <p>
        <span class="name">Owain Guinn</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:owain.guinn@mail.mcgill.ca">owain.guinn@mail.mcgill.ca</a><br>
        <em>Law and Theory Staff Writer</em>
    </p>
    <p>
        <span class="name">Cameron Hirschkorn</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:cameron.hirschkorn@mail.mcgill.ca">cameron.hirschkorn@mail.mcgill.ca</a><br>
        <em>Law and Theory Staff Writer</em>
    </p>
    <br>
    <br>
    <p>Website made by Stephen Edwards &nbsp&nbsp-&nbsp&nbsp <a href="mailto:ssedward@edu.uwaterloo.ca">ssedward@edu.uwaterloo.ca</a></p>


{% endblock blurb %}