{% extends 'website/about.html' %}

{% block title %}Our Team{% endblock title %}

{% block blurb %}
    <h1>Our Team</h1>
    <p>
        <span class="name">Gideon Salutin</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Gideon.salutin@gmail.com">Gideon.salutin@gmail.com</a><br>
        <em>Editor-in-Chief</em>
    </p>
    <p>
        <span class="name">Gavin Jolly</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:genocides.journal@gmail.com">genocides.journal@gmail.com</a><br>
        <em>Public Relations</em>
    </p>
    <h3 class="designation"><u>Current Events</u></h3>
    <p>
        <span class="name">Tama Mule</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Tamamutio@gmail.com">Tamamutio@gmail.com</a><br>
        <em>Primary Editor</em>
    </p>
    <p>
        <span class="name">Angelina Mazza</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Angelina.mazza@mail.mcgill.ca">Angelina.mazza@mail.mcgill.ca</a><br>
        <em>Secondary Editor</em>
    </p>
    <p>
        <span class="name">Gavin Jolly</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Gavin.jolly@mail.mcgill.ca">Gavin.jolly@mail.mcgill.ca</a><br>
        <em>Secondary Editor</em>
    </p>
    <h3 class="designation"><u>History</u></h3>
    <p>
        <span class="name">Salma Addas</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Salma.addas@gmail.com">Salma.addas@gmail.com</a><br>
        <em>Primary Editor</em>
    </p>
    <p>
        <span class="name">Brandon Heiblum</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Brandon.heiblum@mail.mcgill.ca">Brandon.heiblum@mail.mcgill.ca</a><br>
        <em>Secondary Editor</em>
    </p>
    <p>
        <span class="name">Maggie Munro</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Maggie.munro@mail.mcgill.ca">Maggie.munro@mail.mcgill.ca</a><br>
        <em>Secondary Editor</em>
    </p>
    <h3 class="designation"><u>Law & Theory</u></h3>
    <p>
        <span class="name">Amelia Williams</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Amelia.williams@mail.mcgill.ca">Amelia.williams@mail.mcgill.ca</a><br>
        <em>Primary Editor</em>
    </p>
    <p>
        <span class="name">Kemal Kongar</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Kemal.kongar@mail.mcgill.ca">Kemal.kongar@mail.mcgill.ca</a><br>
        <em>Secondary Editor</em>
    </p>
     <p>
        <span class="name">Zaheed Kara</span> &nbsp&nbsp-&nbsp&nbsp <a href="mailto:Zaheedkara@gmail.com">Zaheedkara@gmail.com</a><br>
        <em>Secondary Editor</em>
    </p>
    <br>
    <br>
    <p>Website made by Stephen Edwards &nbsp&nbsp-&nbsp&nbsp <a href="mailto:ssedward@edu.uwaterloo.ca">ssedward@edu.uwaterloo.ca</a></p>


{% endblock blurb %}