{% extends 'website/about.html' %}

{% block blurb %}
            <h1>To Publish</h1>
            <p><em><u>What we publish</u></em></p>
            <p>
                Genocide is a difficult term, subject to debate.  We publish art and articles related to genocide and political
                violence.  We cover topics in history and current events, domestically and internationally.  We also cover
                issues in international law, and theoretical subjects like “how does political violence begin?”  Any topics
                related to mass violence, hate crimes, suppression, can be submitted along with any themes you feel should
                relate.
            </p>
            <p><em><u>Who can apply?</u></em></p>
            <p>
                While our editing team is centered at McGill, you don’t have to be a McGill student to submit.  You do not need
                references or documented experience.  If you have a topic, and can articulate it well, we welcome your input.
            </p>
            <p><em><u>To Submit</u></em></p>
            <p>
                Write an email to <a href="mailto:genocidesjournal@gmail.com">genocidesjournal@gmail.com</a> and you will be
                forwarded to the appropriate editing section. You can write us:
            <ol type="a">
                <li>a pitch, where we will discuss and develop the idea</li>
                <li>a work in progress, where we will assist in its completion</li>
                <li>a complete work for us to review</li>
            </ol>
            Send us a note today!
            </p>
{% endblock blurb %}