#content {
    margin: 2em;
}

#articles {
    width: 50em;
    margin-right: 2em;
}

#articles a, #articles a:link, #articles a:visited, #articles a:hover, #articles a:active {
    text-decoration: none;
    color: black;
}

.article:hover {
    transform: scale(1.015);
    background: rgb(217, 226, 220);
    transition: all 0.2s ease-in-out;
}

.article {
    background: rgba(217, 226, 220, 0.56);
    border-bottom: 1px solid rgba(29, 50, 83, 0.5);
    padding: 1rem;
    transition: all 0.2s ease-in-out
}

.article .text_info {
    padding: 1em;
}

.article .image {
    background-size: cover;
    background-position: center;
    width: 15em;
    height: 10em;
}

.article_title {
    font-size: 2em;
    margin-bottom: 0;
}

#feature {
    width: 35em;
    background: rgba(217, 226, 220, 0.56);
    padding: 1em;
    transition: all 0.2s ease-in-out;
    margin-top: 2.5em;
}

#feature:hover {
    background: rgb(217, 226, 220);
    transform: scale(1.015);
    transition: all 0.2s ease-in-out;
}

#feature .image {
    background-size: cover;
    background-position: center;
    width: 25em;
    height: 20em;
}

#featured_in {
    margin-bottom: 1em;
}

.pagination {
    margin-bottom: 1em;
}

.page_buttons {
    font-size: 1.6em;
}

@media (max-width: 576px) {

}

@media (max-width: 768px) {
    .article .image {
        width: 80%;
        height: 20em;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {
    #articles {
        width: 100%;
        margin-bottom: 1em;
    }
    #feature {
        width: 100%;
    }
    #feature .image {
        width: 80%;
        margin-top: 0;
    }
}



/*@media only screen and (min-width: 1248px) {*/

/*}*/