* {
    /*border: 1px solid red;*/
    font-family: Times;
}

.navbar {
    background-color: #1d3253;
}

header {
    background-color: rgba(217, 226, 220, 0.76);
}

#logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20em;
    height: 8em;
}

#indig {
    font-family: "Baskerville Old Face";
    font-style: italic;
    margin: 0 1em;
    line-height: 1em;
    font-size: 0.9em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main {
    margin-bottom: 8em;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    background-color: #1d3253;
    padding: 0.6em;
    text-align: center;
}

footer img {
    width: 2em;
    height: 2em;
    padding: 1px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 0.3em;
}

footer img:hover {
    background-color: rgba(214, 223, 217, 0.2);
    transition: background-color 0.2s ease-in-out;
}





