#header {
    width: 100%;
    height: 10rem;
    background-color: #ff5356;
}

#header_logo {
    width: 7rem;
    margin: 3px;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#header_names {
    position: absolute;
    top: -1rem;
    left: 9rem;
}

#acronym {
    font-size: 8rem;
    letter-spacing: 0.7rem;
}

#full_name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: -2rem 0 0 1rem;
}


